.active {
  color: white;
}

#hidden-scrollbar {
  scrollbar-color: transparent transparent;
}

#hidden-scrollbar::-webkit-scrollbar {
  width: 1px; /* Adjust the width as needed */
}

#hidden-scrollbar::-webkit-scrollbar-thumb {
  display: none;
}

#custom-scrollbar {
  overflow-y: scroll;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: transparent transparent;
  transition: scrollbar-color 0.5s ease;
}

#custom-scrollbar:hover::-webkit-scrollbar {
  width: 12px;
}

#custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: rgba(81, 81, 81, 0.5);
}

#custom-scrollbar:hover {
  scrollbar-color: rgba(81, 81, 81, 0.5) transparent;
}

#custom-scrollbar::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background-color: rgba(220, 220, 220, 0.5);
}
